* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   color: #535353;
   background: #191919;
}

body, input, button, textarea, ul, li {
   font: 600 18px Nunito, sans-serif;
}

ul, li {
   list-style: none;
}
a {
   text-decoration: none;
}