.page-header {
   height: 15%;
   width: 100%;

   padding-top: 1rem;
   padding-bottom: 1rem;

   display: flex;
   align-items: center;
   justify-content: space-between;
}

.nav-links, .login{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   width: 32%;
}

.nav-links a, .login a {
   color: #191919;
}


.nav-links {
   display: flex;
   align-items: center;
}

.logo {
   display: flex;
   align-items: center;
   margin-top: 1.5rem;
}

.logo img {
   width: 170px;
}

.login {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.login input {
   border-radius: 0.8rem;
   border: 1px solid #ded2bd;
   outline: 0;
   /* resize: vertical; */
   font: 1rem Nunito;
   padding: 8px;
   width: 12rem;
}

.login li a{
   display: flex;
   align-items: center;
   flex-direction: column;
}

.login span {
   font-size: 12px;
}

li:hover {
   border-bottom: 2px solid #f2a5bb;
}