.enter-product {
   /* width: 30%; */
   /* margin-top: 40px; */
   padding: 1rem;

   display: flex;
   justify-content: center;
   align-items: center;

   /* text-transform: uppercase; */
   color: #535353;
   background-color: #fff;
   border-style: double;
   border-color: #f2a5bb;
}

.enter-product:hover {
   background-color: #f2a5bb;
   border-color: #fff;
   transition: 0.3s;
}