#page-products {
   width: 100vw;
   height: 100vh;
   background: #fff;
   border-radius: 20px;

   display: flex;
   justify-content: center;
   align-items: center;
}

#page-products .content-wrapper {   
   width: 100%;
   max-width: 1200px;
   height: 100%;
}

.content-wrapper .conteudo {
   margin-top: 2rem;
   display: flex;
   flex-direction: column;
   /* justify-content: space-evenly; */
   
}

.conteudo .nav-bar {
   margin-bottom: 1rem;

   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: space-evenly;
}

.conteudo .bordados {
   display: flex;
   align-items: center;
   justify-content: center;
   /* flex-direction: column; */
   
}