#page-products {
   width: 100vw;
   height: 100vh;
   background: #e8e2d7;
   border-radius: 20px;

   display: flex;
   justify-content: center;
   align-items: center;
}

#page-products .content-wrapper {   
   width: 100%;
   max-width: 1200px;
   height: 100%;
   max-height: 680px;

   display: 1;
   flex-direction: row;

   align-items: flex-start;
   /* justify-content: space-between; */
}

aside {
   background: #ded2bd;
   width: 250px;
   height: 89%;
   padding: 10px 40px 40px;

   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
